/*
* Style within this document
* 
* Global Settings
*  - Headings
*  - Paragraphs and list
*  - Anchor Links
*  - Body
*  - Bg Section
*  -- Cover Shield
* Navigation Setup
*  - Logo Navigation
* Content Helpers
*  - Buttons
* Content
*  - Gallery Product
*  - Homepage Caption
*  - Lang
*  - Top Float Info
*  -- slider bottom content
*  - float content
*  - OUR DATA HOLDER
*  -- gallery caption
*  - Packages
*  - Post Detail
*  - Menu Rhomb
*  - List Quotes
*  - social icon
*  - Carousel
*  - Modal
*  - Footer
*  - Wrap Col
*  - Twitter Updates
*  - LightBox Helper
*  - Rooms
*  -- List Rooms
*  - Nano Scroller Plugins
*  - Form Reservation
*  -- Group Icon
*  -- select style
* User Data
* Rooms Detail
*  - List Features
* Tiles
* Tables
* Maps Plugin
* Gallery
* Dropdown
* Helper Margins - Paddings
*/

/*: Global Settings*/
ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q, blockquote {
    quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch
}
.mobile-touch-overflow, .mobile-touch-overflow * {
    -webkit-transform: rotateY(0)
}
/*:: Headings*/
h1 {
    margin: 0 0 0 0;
    margin-top: 30px;
    color: #000;
    font-weight: 300;
    font-size: 1.6em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em
}
h2 {
    margin: 0 0 10px 0;
    color: #000;
    font-weight: 300;
    font-size: 1.4em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em;
    text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.7)
}
h3 {
    margin: 0 0 15px 0;
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000
}
h5 {
    margin: 0 0 0 0;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6
}
p, .row li {
    font-family: "Lato", sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
    color: #000;
}
/*:: Paragraphs and list*/
.additional p {
    color: #999999;
}
p strong, .row li strong {
    font-weight: 400;
    color: #ee8a1d
}
p a, .row li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3;
    font-family: "Lato", sans-serif;
    font-weight: 500;
}
.subheading {
    margin-top: 0;
    color: #888;
    line-height: 1.4em;
}
html{
    height: 100%;
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
/*:: Anchor Links*/
a {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    color: #000;
}
a:hover {
    text-decoration: none;
}
a:hover, a:focus{
    color : #E5B700;
}
/*:: Body*/
body {
    width: 100%;
    font-size: 13px;
    overflow-x: hidden;
    background-color: #F1F1F1;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    height: 100%;
}

.all-wrapper{
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
    color: white;
    background-color: #E5B700;
    border-color: #E5B700;
    outline: none !important;
}
.form-control::-moz-placeholder {
    color: #000;
    opacity: 1;
    font-weight: 500;
}
.form-control:-ms-input-placeholder {
    color: #000;
    font-weight: 500;
}
.form-control::-webkit-input-placeholder {
    color: #000;
    font-weight: 500;
}
.col-heading {
    color: #fff;
    position: relative;
    display: block;
}
.col-heading h1 {
    text-transform: uppercase;
    display: block;
    font-size: 2em;
    color: #000;
}
.col-heading p {
    display: block;
    color: #FFF;
}
.content-wrapper {
    display: block;
    min-height: 100%;
    position: relative;
}

/*:: Bg Section*/
.bg-section {
    background-image: url(../img/def-cover-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
img.bg-cover {
    /* Set rules to fill background */
    
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    
    width: 100%;
    height: auto;
    /* Set up positioning */
    
    position: fixed;
    top: 0;
    left: 0;
}
.homepage > img.bg-cover {
    /* Set rules to fill background */
    
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    
    width: 100%;
    height: auto;
    /* Set up positioning */
    
    position: relative;
    top: 0;
    left: 0;
}

/*::: Cover Shield*/
.cover-shield {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.col-cover {
    padding: 20px 0 30px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    display: block;
    background-image: url(../img/cover-bg.jpg);
    min-height: 100px;
}
.section-content {
    position: relative;
    display: block;
    width: 100%;
    float: left;
}

/*: Navigation Setup*/
#nav ul.nav {
    position: relative;
    display: block;
    text-align: left;
    float: left;
    width: 100%;
}
.nav-primary:before, .nav-primary:after {
    display: table;
    content: " ";
}
.nav-primary:after {
    clear: both;
}
.nav-primary {
    background-color: #fff;
}
.nav-primary li {
    line-height: 1.5
}
.nav-primary li li a {
    padding: 5px 15px;
}
.nav-primary li a i {
    margin-right: 0.5em
}
.nav-primary>ul>li>a {
    color: #000;
    border-bottom: 1px solid #2a3b4c;
    padding: 5px 10px;
    position: relative;
    font-weight: normal;
    text-transform: uppercase;
    -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
    background-image: none;
}
.nav-primary>ul>li>a:hover {
    color: #9A0D30;
}
.nav-primary>ul>li>.dropdown-menu {
    margin-left: 0;
    border-radius: 0
}
.nav-primary>ul>.dropdown-submenu:hover>a, .nav-primary>ul>.dropdown-submenu:focus>a, .nav-primary>ul>li>a:hover, .nav-primary>ul>li>a:focus, .nav-primary>ul>li>a:active, .nav-primary>ul>li.active>a {
    color: #000;
    background: transparent;
    transition: color .3s ease-in-out 0s;
}
.nav-primary>ul>li.active>a{
    background : url('../img/bg-menu-active.png') no-repeat left center transparent;    
}
.nav-primary>ul>li>a:hover{
    background : url('../img/bg-menu-active.png') no-repeat left center transparent;       
}
.nav-primary>ul>li.active>a {
    border: none;
    color: #9A0D30;
}
.nav-primary .navbar-brand {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    display: block;
    height: auto;
}
.nav-primary .logo-wrapper {
    width: 100%;
    position: relative;
    display: block;
    height: auto;
    text-align: center;
    padding: 0 60px;
}
/*:: Logo Navigation*/
.nav-primary .logo-wrapper img {
    text-align: center;
    float: none;
    display: block;
    position: relative;
    margin: 0 auto
}
.nav-primary .logo-bottom {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    float: left;
}
.nav-primary .logo-bottom .overfloat {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.nav-primary>ul>.dropdown-submenu>a:after {
    display: none
}
.nav-primary.bg-light>ul>li>a {
    border-bottom-color: #d0d4d8;
    color: #6e7e8e;
}
.nav-primary.bg-light>ul>.dropdown-submenu:hover>a, .nav-primary.bg-light>ul>.dropdown-submenu:focus>a, .nav-primary.bg-light>ul>li>a:hover, .nav-primary.bg-light>ul>li>a:focus, .nav-primary.bg-light>ul>li>a:active, .nav-primary.bg-light>ul>li.active>a {
    color: #3d4d5d
}

/*: Content Helpers*/
.content-static {
    position: relative;
    display: block;
    padding: 90px 0;
}
.content-static p{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.no-line {
    border-width: 0
}
.no-border {
    border-color: transparent !important;
}
.no-radius {
    border-radius: 0
}
.block {
    display: block;
    margin-bottom: 10px
}
.block .block-wrapper a {
    display: block;
    position: relative;
    padding: 10px 0;
}
.block .block-wrapper a:hover {
    background: #CAA300;
    color: #fff;
}
.room-block .block-wrapper .thumbnail {
    border: none;
    box-shadow: none;
    padding: 0;
}
.block.hide {
    display: none
}
.inline, .inline-desktop {
    display: inline-block
}
.pull-right-desktop {
    float: right;
}
.pull-none {
    float: none
}
.clear {
    clear: both
}
.line-v {
    border-left: 1px solid #dddddd;
    padding-left: 20px
}
.line-v-right {
    border-right: 1px solid #dddddd;
    padding-right: 20px;
}
.wrapper {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #ddd
}
.w-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0
}
.txt-c1{
    color: #750124;
}
.txt-c2{
    color: #D10028;
}
/*:: Buttons*/
.btn-s-mini {
    min-width: 90px
}
.btn-s-small {
    min-width: 100px
}
.btn-s-medium {
    min-width: 120px
}
.btn-s-large {
    min-width: 150px
}
.btn-s-xlarge {
    min-width: 200px
}
.btn-s-xxlarge {
    min-width: 300px
}
.btn-padder {
    padding-left: 40px;
    padding-right: 40px
}
.l-h-2x {
    line-height: 2em;
}
.text-small {
    font-size: 12px;
}
.text-mini {
    font-size: 10px;
}
.padder {
    padding: 0 15px;
}
.padder-v {
    padding-top: 15px;
    padding-bottom: 15px;
}
.no-padder {
    padding: 0 !important;
}
.mgr-one {
    margin: 1px 0;
}
.pull-in {
    margin-left: -15px;
    margin-right: -15px;
}
.pull-out {
    margin: -15px;
}
.col-white {
    background: #fff;
    color: #000;
}
#col-vertical .head-block {
    float: left;
    width: 100%;
}
#col-vertical .nav-block {
    padding-right: 1px;
    padding-left: 0;
    margin-bottom: 1px;
    margin-top: 1px;
}
#col-vertical .nav-block:nth-of-type(odd) {
    padding-right: 1px;
    padding-left: 1px;
}
#col-vertical .nav-block:nth-of-type(even) {
    padding-left: 1px;
    padding-right: 1px;
}
#col-vertical .nav-block span.icon {
    position: relative;
    display: block;
    text-align: center;
}
#col-vertical .nav-block span.i_text {
    position: relative;
    display: block;
    text-align: center;
    font-weight: 700;
}

.space-blocks {
    display: block;
    position: relative;
    margin-top: 1px;
    min-height: 100px;
    width: 100%;
    float: left;
}
.space-blocks .block-abs {
    background-color: #FFF;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.fix-pos {
    position: relative;
    display: block;
    margin-left: 230px;
}
/*: Content*/
/* :: Gallery Product */

.gallery-product {
    background-color: #000;
    position: relative;
    display: block;
}
.mask {
    position: absolute;
    top: 0;
    left: 0px;
    background: #750124;
    display: none;
    z-index: 0;
}
.caption-block {
    display: none;
    position: relative;
    color: #fff;
    padding: 20px 30px;
    text-align: left;
}
.caption-block h1, .caption-block p {
    color: #FFF;
    position: relative;
}
.caption-block h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
}
.caption-block p {
    font-size: 1.2em;
}
.caption-block a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 0;
    right: 0;
}
.caption-block a span {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 1.2em;
}
.mediaCaption {
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ie8 .mask {
    bacground: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/*:: Homepage Caption*/

.home-caption {
    position: absolute;
    left: 25%;
    right: 20%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.content-wrapper .home-caption {
    background: transparent;
    text-shadow: none;
    bottom: 40px;
    text-align: left;
    padding: 0 50px;
}
.content-wrapper .home-caption h1 {
    margin: 20px 0 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.content-wrapper .home-caption p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
}
/* :: Lang*/
.dropdown-menu {
    background: #750124;
}
#langs {
    position: absolute;
    right: -55px;
    top: 25px;
    display: block;
}
#langs button.btn-default {
    background: transparent;
    border: none;
    border-top: 5px solid #780026 !important;
    border-radius: 0px;
    box-shadow: none;
    padding: 6px 5px;
}
#langs .dropdown-menu {
    right: 0;
    left: auto;
}
/*:: Top Float Info*/
.top-info {
    position: absolute;
    display: block;
    padding: 20px 0;
    top: 20px;
    right: 70px;
    z-index: 9;
}
.top-info p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
.top-info .address-col, .top-info .local-info-col {
    display: block;
    float: right;
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
    font-size: 1.2em;
}
.top-info .address-col p {
    float: right;
    padding: 0;
    margin: 0;
    line-height: 15px;
    width: 100%;
}
/*Flexslider*/
#slider-homepage {
    position: relative;
    display: block;
}
#slider-homepage .slider {
    position: relative;
    display: block;
}
#slider-homepage .slider .left-wtrans, #slider-homepage .slider .right-wtrans {
    position: absolute;
    display: block;
    width: 100px;
    background: rgba(255, 255, 255, 0.5);
    top: 90px;
    bottom: 90px;
    z-index: 9;
}
#slider-homepage .slider .left-wtrans {
    left: 0;
}
#slider-homepage .slider .right-wtrans {
    right: 0;
}
.flexslider .slides > li:first-child {
    display: block;
}
.flexslider.loading .slides > li:first-child {
    opacity: 1 !important;
}
.flexslider {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.flex-direction-nav a {
    color: #fff !important;
    height: 40px;
    margin: -20px 0 0;
    top: 50%;
    width: 40px;
}
.flex-direction-nav a:before {
    content: "";
    font-family: FontAwesome;
    font-size: 34px;
}
.flex-direction-nav a.flex-next:before {
    content: "";
}
.flex-control-nav {
    bottom: auto;
    right: 20px;
    top: 40%;
    width: 20px;
    z-index: 20;
}
.flex-control-nav li {
    display: block;
    margin: 0 0 5px;
}
.flex-control-paging li a {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #000;
    border-radius: 100%;
    box-shadow: none;
}
.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
    background: none repeat scroll 0 0 #750124;
    border-color: #750124;
}
.flexslider.loading {
    position: relative;
}
.flexslider.loading:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-animation: 1s linear 0s normal none infinite running spin;
    animation: 1s linear 0s normal none infinite running spin;
    border-color: #fff transparent #fff #fff;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    box-shadow: 0 0 25px 2px #eee;
    content: " ";
    height: 30px;
    margin: 0 0 0 -15px;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 30px;
}
#slider-homepage .flexslider {
    padding: 0;
    border: none;
    box-shadow: none;
}
.carousel-control {
    z-index: 10;
}
#slider-homepage .carousel-caption {
    background: #FFF;
    text-shadow: none;
    bottom: 40px;
    text-align: left;
    padding: 0 50px;
}
#slider-homepage .carousel-caption:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 33px 15px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -33px;
    left: 20px;
}
#slider-homepage .carousel-caption h1 {
    margin: 20px 0 10px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}
#slider-homepage .carousel-caption p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
}

/*::: slider bottom content*/
.content-slider-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

/*:::: slider headline*/
.float-headline{
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
}
/*:: float content*/
.float-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#headlines{
    position: relative;
    display: block;
}

.wrap-review-carousel{
    background: #FFF;
}
/*:::: Review Carousel*/
.wrap-review-carousel{
    position: relative;
    display: block;
}
#owl-reviews h1{
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
    color: #000;    
}
#owl-reviews .text-balloon a.more{
    display: inline-block;
}
#owl-reviews p{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: justify;
    letter-spacing: 0.01em;
    display: inline-block;
}
.wrap-review-carousel .carousel-nav .carousel-next {
    top: 10px;
    right: 10px;
    left: auto;
    padding: 0px 5px;
    border-radius: 0;
    background: none;
    color: #000;
    line-height: .9em;
}
.wrap-review-carousel .carousel-nav .carousel-prev{
    top: 10px;
    right: 30px;
    left: auto;
    padding: 0 5px;
    border-radius: 0;
    background: none;
    color: #000;
    border-right: 1px solid #000;
    line-height: .9em;
}
/*- FILTER OPTIONS -*/

ul#filterOptions li {
    display: inline-block;
    position: relative;
}
ul#filterOptions li a {
    padding: 0 10px;
    border: none;
    background: transparent;
    color: #fff;
    line-height: normal;
    display: block;
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
    border-right: 1px solid #fff;
}
ul#filterOptions li a:hover {
    background: transparent;
    color: #FFF;
}
ul#filterOptions li.active a {
    background: transparent;
    color: #E58D00;
}
ul#filterOptions li.active a:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 8px 0 8px;
    border-color: #750124 transparent transparent transparent;
    line-height: 0px;
    _border-color: #750124 #000000 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    bottom: -15px;
    left: 35%;
}
/*:: OUR DATA HOLDER */
ul.ourHolder {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
ul.ourHolder li.item {
    float: left;
    text-align: center;
    margin-bottom: 0;
}
/*Gallery Page*/

#gallery {
    position: relative;
    display: block;
    margin-top: 40px;
}
#gallery .grid-gallery {
    position: relative;
    display: block;
}
.grid-gallery #filterOptions {
    margin-bottom: 0;
}
/* ::: gallery caption*/
.caption-image {
    background: none repeat scroll 0 0 #750124;
    color: #000;
    left: 98%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: none;
}
ul.ourHolder li.item:last-child .caption-image{
    left: auto;
    right: 98%;
}
.caption-wrapper {
    display: block;
    position: relative;
    height: 100%;
}
.caption-wrapper:before {
    background: none repeat scroll 0 0 #750124;
    content: "";
    height: 70%;
    left: -48%;
    position: absolute;
    top: 60%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    width: 70%;
    z-index: -1;
    border-radius: 5px;
}
ul.ourHolder li.item:last-child .caption-wrapper:before{
    left: auto;
    right: -100%;
    top: 42px;
    -webkit-transform: rotate(129deg);
            transform: rotate(129deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
}
/*:: Packages*/
.packages {
    margin-top: 20px;
}
.package-post-detail {
    background-color: transparent;
    padding: 20px 0px 40px;
    color: #000;
    position: relative;
}
.package-post-detail h2 {
    color: #000;
    font-size: 1.5em;
    letter-spacing: 0.09em;
    font-family: 'Titillium Web', sans-serif;
}
.package-post-detail p {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: normal;
}
.package-post-detail .read-more {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.11em;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}
.package-post-detail .read-more a {
    color: #7D1030;
    width: 100%;
}
.package-post-detail .read-more a i {
    font-size: 2em;
}

/*::: Packages Detail*/
.package-detail{
    font-family: "Lato", sans-serif;
}
.package-detail p {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
}
/*:: Post Detail*/
.post-detail {
    color: #FFF;
    display: block;
    position: relative;
}
.post-detail p {
    color: #FFF;
    font-weight: 500;
    letter-spacing: 0.1em;
}

/*:: Menu Rhomb*/
.menu-rhomb-holder {
    margin: 150px 0;
    z-index: 20;
}
.menu-rhomb-holder .first-level, .menu-rhomb-holder .second-level, .menu-rhomb-holder .third-leve {
    display: block;
}
.rhomb {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    margin: -8px 14px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 1px;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 1px;
    border-radius: 5px;
    border-top-left-radius: 1px;
}
.rhomb:hover {
    background: rgba(86, 214, 140, 1);
}
.rhomb_info {
    height: 50px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    width: 80px;
    display: table-cell;
    font-family: 'Comfortaa', sans-serif;
}
.in-menu {
    display: block;
    position: relative;
    background: url('../img/menu-center-list.png') no-repeat center top;
    width: 70px;
    height: 70px;
}
/*:: List Quotes*/
.list-quote {
    background: none repeat scroll 0 0 #fff;
    display: block;
    float: left;
    position: relative;
    padding: 20px;
}
.list-quote .thumber {
    position: relative;
    display: block;
    text-align: center;
}
.list-quote .thumber .rhomb-img {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .thumber .rhomb-img img {
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    margin-left: -43px;
    margin-top: -16px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .post-review {
    position: relative;
    display: block;
}
.list-quote .post-review p {
    color: #000;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    font-weight: 500;
}
.list-quote .post-review h2 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}
.list-quote .post-review h3 {
    color: #000;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
/*:: social icon*/
.social-list{
    margin-top: 40px;
}
ul.social-icon{
    margin: 0;
    padding: 0;
    width: 100%;  
}
ul.social-icon li{
    display: inline-block;
    font-size: 1.5em;
    margin-right: 10px;
}
ul.social-icon li > a{
    color: #750124;
}
/* :: Carousel*/
/*Carousel*/

.carousel-nav .carousel-next {
    position: absolute;
    z-index: 200;
    left: 35px;
    top: -40px;
    background-color: #7D1030;
    text-align: center;
    color: #FFF;
    vertical-align: middle;
    padding: 0 7px;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.carousel-nav .carousel-prev {
    padding: 0 7px;
    position: absolute;
    z-index: 200;
    left: 10px;
    top: -40px;
    background-color: #7D1030;
    text-align: center;
    color: #FFF;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.wrap-single-carousel .carousel-nav .carousel-prev {
    top: auto;
    bottom: -15px;
    left: 52.5%;
}
.wrap-single-carousel .carousel-nav .carousel-next {
    top: auto;
    bottom: -15px;
    left: 49.5%;
}
/* :: Modal*/

.modal-dialog {
    width: 100%;
}
/* :: Footer*/
#footer {
    position: relative;
    display: block;
    bottom: 0px;
    z-index: 10;
    width: 100%;
}
footer .footer-content {
    color: #000;
    width: 100%;
}
.col-footer .wrap-col{
    padding: 20px 40px;
}
/* :: Wrap Col*/

.wrap-col {
    position: relative;
    display: inline-block;
}
.wrap-col h3 {
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
}
.newsletter-info{
    background: #750124;
}
.newsletter-info .form-control{
    border-color: #FFF;
}
.download-info{
    background: #D10028;
}
/* :: Twitter Updates*/

.twitter-update {
    position: relative;
    display: block;
    background: #5E0427;
}
.twitter-update h3 {
    font-size: 1.2em;
    font-weight: 400;
}
.twitter-update p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: normal;
    font-size: 1.1em;
}
.twitter-update .tw-info {
    font-family: 'Titillium Web', sans-serif;
    color: #FFF;
}
/*Button Settings*/
.bg-diff {
    background-color: #750124;
}
.t-maroon {
    color: #750124;
}
.btn {
    font-family: 'Titillium Web', sans-serif;
}
.btn-c1{
    background: #C5001F;
    border: none;
}
.btn-c2{
    background: #750124;
    border: none;
}

footer .footer-content p.copyright {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
/* :: LightBox Helper*/
.lb-outerContainer{
    -webkit-border-radius: 0;
                border-radius: 0;    
}
.lb-container{
    padding: 20px;
}
.lightbox .lb-image {
    -webkit-border-radius: 0;
            border-radius: 0;
}
.lb-dataContainer{
    background-color: #FFF;
    color: #000;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.lb-data{
    padding: 0 20px;
}
.lb-data .lb-details{
    color: #000;
}
/*:: Rooms*/
/*::: List Rooms*/
/*List Facilities*/

.list-facilites {
    position: relative;
    display: block;
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 20px;
}
.list-facilites .col-thumb .thumbnail {
    padding: 0;
    box-shadow: none;
}
.list-facilites .col-detail .title-facilities {
    display: block;
    position: relative;
}
.list-facilites .col-detail .title-facilities i {
    display: inline-block;
}
.list-facilites .col-detail .title-facilities h2 {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
}
.list-facilites .col-detail p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.list-facilites .col-detail .hourtext {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4em;
}
.list-facilites .col-detail .hours-detail {
    color: #E8A15A;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}
/*Coloumn Rooms*/

.col-rooms {
    position: relative;
    display: block;
}
.col-rooms .left-col {
    position: relative;
    display: block;
}
.col-rooms .left-col p {
    font-size: 1.2em;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
    color: #71706E;
}
.col-rooms .left-col ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 1.1em;
}
.col-rooms .left-col ul li {
    font-weight: normal;
    position: relative;
    display: block;
    padding-left: 20px;
    margin-left: 0px;
    color: #71706E;
    font-weight: 300;
}
.col-rooms .left-col ul li:before {
    font-family: "fontello";
    position: absolute;
    content: '\e812';
    /* '' */
    
    display: block;
    left: 0;
    top: 0;
    font-weight: normal;
    color: #6f6f6f;
}
.col-rooms .right-col .list.list-room {
    background: url('../img/separator-col.png') repeat-x bottom left transparent;
    padding: 10px 0 20px;
}
.col-rooms .right-col .col-thumb .thumbnail {
    padding: 0;
    box-shadow: none;
}
.col-rooms .right-col .col-description h1 {
    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
    color: #71706E;
    margin-bottom: 20px;
}
.col-rooms .right-col .col-description p {
    font-size: 1.1em;
    display: block;
    font-weight: normal;
    position: relative;
}
.col-rooms .right-col .specification {
    position: relative;
    display: block;
}
.col-rooms .right-col .specification table.table {
    color: #9A9A9A;
}
.col-rooms .right-col .book-bar {
    display: block;
    position: relative;
}
.col-rooms .right-col .book-bar h3 {
    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
    color: #7B7B7B;
    font-weight: 600;
    margin: 10px 0;
}
.col-rooms .right-col .book-bar .booknow span {
    color: #770124;
    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
}
.col-rooms .right-col .book-bar .btn-book {
    float: right;
}
.specification table.table tr td {
    border: none;
    padding: 8px 0;
    color: #9A9A9A;
}
.specification table.table tr td:first-child {
    font-size: 1.1em;
    font-family: 'Titillium Web', sans-serif;
    color: #979797;
    font-weight: 700;
}
.list-room {
    position: relative;
    display: block;
}
.list-room .col-detail {
    position: relative;
    display: block;
}
.list-room .col-detail h2 {
    font-size: 1.3em;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
    color: #71706E;
}
.list-room .col-detail p {
    font-size: 1.1em;
    font-weight: 300;
}
.list-room .col-detail p.actionbtn {
    color:  #71706e;
    font-size: 1.3em;
    font-family: 'Titillium Web', sans-serif;
}
.list-room .col-detail p.actionbtn a{
    color:  #71706e;
    vertical-align: middle;
}
.list-room .col-detail p.actionbtn a:hover{
    color: #444444;
}
.list-room .col-detail .rates {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}
/*List Rooms*/

.room-block {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.room-block .block-wrapper {
    position: relative;
    display: block;
    border-bottom: thin solid #7E7E7E;
    float: left;
    margin-right: 50px;
}
.room-block .price {
    display: block;
    position: relative;
    padding: 0;
}
.room-block .price .text-price, .col-price h5 {
    display: block;
    position: relative;
    margin-bottom: 20px;
    font-family: 'VerdanaRegular', sans-serif;
    font-size: 1.2em;
    color: #60D390 !important;
}
.room-block .price .text-price, .room-block .price .txt-p {
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
}
.right-content {
    position: relative;
}
.room-block .right-content h2 {
    font-size: 2em;
    color: #000;
    font-weight: 500;
}
.room-block .right-content p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.right-content .more-info {
    font-size: 1.2em;
    margin-top: 10px;
}
.right-content .more-info a.btn {
    color: #fff;
    font-size: 1.1em;
}
.rooms-top {
    display: block;
    position: relative;
    color: #FFF;
}
.rooms-top h1 {
    font-size: 2.9em;
    color: #FFF;
    margin-bottom: 20px;
}
.rooms-top h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p span.date {
    font-weight: 700;
}
.rooms-top p a {
    text-decoration: underline;
    color: #FFF;
}
.rooms-top p a:hover {
    color: #000;
}
/* :: Nano Scroller Plugins*/

.detail-view {
    height: 550px;
    width: 100%;
    margin: 50px 0;
}
#slidervertical_container .thumbpost {
    top: 0 !important;
}
.list-rooms.nano {
    width: 100%;
    height: 550px;
    overflow: hidden !important;
    margin: 50px 0;
}
.nano > .nano-pane {
    right: 10px;
    width: 15px;
}
.nano > .nano-pane > .nano-slider {
    background: rgb(255, 255, 255);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(243, 243, 243) 50%, rgb(237, 237, 237) 51%, rgb(255, 255, 255) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1)
    /* IE6-8 */
}
/*:: Form Reservation*/

.form-horizontal .form-group {
    margin: 5px 0;
}
.form-control {
    border-color: #B4B4B4;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    color: #666666;
}
.form-control:focus {
    border-color: #b4b4b4;
}
.input-group .form-control{
    border-right: none;
}
.form-reservation {
    display: block;
    position: relative;
}
/*::: Group Icon*/

.input-group-addon {
    background: transparent;
    border-color: #B4B4B4;
    border-left: none;
    color: #B4B4B4;
}
.input-group-addon i.fa {
    color: #000;
}
/* ::: select style*/

/*select style*/

.select2-drop-active {
    border: 1px solid #BFBFBF;
}
.select2-results .select2-highlighted {
    background: none;
    color: #7D1030;
}
.select-custom {
    position: relative;
    display: block;
    width: 100%;
}
.select2-container {
    padding: 0;
    margin: 0;
    width: 100%;
}
.select2-drop {
    color: #bdbdbd;
}
.select2-container .select2-choice {
    border: 1px solid #B4B4B4;
    background-image: none;
    height: 34px;
    line-height: 34px;
    text-align: left;
}
.select2-container .select2-choice .select2-arrow {
    border-radius: 0;
    background: rgb(219, 220, 226);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(219, 220, 226, 1) 0%, rgba(255, 255, 255, 1) 48%, rgba(221, 223, 227, 1) 98%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dbdce2', endColorstr='#dddfe3', GradientType=0);
    /* IE6-8 */
    
    border: none;
    width: 34px;
    border-left: solid thin #BFBFBF;
}
.select2-container .select2-choice .select2-arrow b {
    position: relative;
    display: block;
    background: none;
}
.select2-container .select2-choice > .select2-chosen {
    color: #000;
    font-size: 1.2em;
}
.select2-container .select2-choice .select2-arrow b:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #8F8F8F transparent transparent transparent;
    line-height: 0px;
    _border-color: #8F8F8F #ffffff #ffffff #ffffff;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#8F8F8F');
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-color: #bdbdbd;
}
/*UI WIDGET*/

.ui-widget {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}
/* Datepicker */

#ui-datepicker-div {
    z-index: 1100 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #e6e6e6;
    background-image: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border-color: #93002C;
}
.ui-datepicker-header, .ui-widget-header {
    background-color: #750126;
    border: none;
    background-image: none;
    color: #FFF;
}
#ui-datepicker-div .ui-datepicker-month, #ui-datepicker-div .ui-datepicker-year {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
.ui-datepicker-title select {
    color: #000;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    background: #FFF;
    border: none;
    border-radius: 500px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1em;
    position: absolute;
    top: 8px;
    width: 1em;
}
.ui-datepicker .ui-datepicker-prev {
    left: 8px;
}
.ui-datepicker .ui-datepicker-next {
    right: 8px;
}
.ui-icon-circle-triangle-e {
    background-position: -32px -16px;
}
.ui-icon-circle-triangle-w {
    background-position: -97px -16px;
}
.ui-datepicker th {
    font-weight: normal;
}
.ui-datepicker.ui-datepicker-multi, .ui-datepicker.ui-datepicker-multi-3 {
    width: 100% !important;
}
#open_datepicker .ui-datepicker td span, #open_datepicker .ui-datepicker td a {
    padding: 10px;
}
#ui-datepicker-div table.ui-datepicker-calendar thead tr th span {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}
/*highlighter calendar selected*/

.ui-datepicker-calendar tbody tr td a:hover, #open_datepicker .ui-datepicker-calendar .dp-highlight .ui-state-default {
    background: #FB0751;
    color: #fff;
}
.ui-datepicker td.available a, .available {
    background: #5DC02F;
    color: #fff;
}
.ui-datepicker td.restricted a, .restricted {
    background: #EBCD17;
    color: #fff;
}
.ui-datepicker td.booked a, .booked {
    background: #F17776;
    color: #fff
}
/*UI TOOLTIP*/

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    min-width: 300px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #878787;
    max-width: none;
}
.qtip .ui-datepicker-header, .ui-widget-header {
    border: 1px solid #878787;
}
.qtip .ui-widget-content p {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
.qtip .ui-widget-content .table, .qtip .ui-widget-content .table thead tr th, .qtip .ui-widget-content .table tbody tr td {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
/*Modal & Panel*/

.modal-dialog p, .step-pane p {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}
/* : User Data*/

.form-horizontal .control-label {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 1.1em;
    color: #000;
}
.form-horizontal .checkbox-custom {
    display: block;
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
a.term-clause {
    color: #C8A200;
}
/* : Rooms Detail*/

.content-overview {
    position: relative;
    display: block;
    float: left;
    margin: 20px 0 50px;
    color: #000;
}
.content-overview h2, .content-overview h1 {
    font-size: 2.1em;
    color: #000;
    font-weight: 500;
}
.content-overview p {
    font-weight: 500;
    font-size: 1.2em;
    color: #000;
}
/* :: List Features*/

ul.list-features {
    padding-left: 0;
}
ul.list-features li:before {
    content: "\e067";
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Glyphicons Halflings';
    color: #000;
}
ul.list-features li {
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}
/* : Tiles*/

.block-tiles {
    position: relative;
    display: block;
}
.tile {
    margin-bottom: 10px;
}
.tile a {
    border: solid thick #000;
    display: block;
    position: relative;
    border-color: transparent;
}
.caption-white {
    background: none repeat scroll 0 0 #fff;
    color: #fff;
    left: 98%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 1000;
    display: none;
}
.block-tiles .tile:nth-child(odd) .caption-white {
    left: 98%;
    right: auto;
}
.block-tiles .tile:nth-child(even) .caption-white {
    left: auto;
    right: 98% !important;
}
.caption-wrapper {
    display: block;
    position: relative;
    height: 100%;
}
.caption-wrapper p, .caption-wrapper h1{
    color: #FFF;
    text-align: left;
    font-family: 'Lato', sans-serif;
}
.caption-wrapper h1{
    font-weight: 400;
}
.caption-wrapper p a{
    color: #D10028;
}
.caption-wrapper p{
    font-size: 1.1em;
    font-weight: 400;
}
.caption-wrapper:before {
    background: none repeat scroll 0 0 #750124;
    content: "";
    height: 70%;
    left: -33%;
    position: absolute;
    top: 38%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    width: 70%;
    z-index: -1;
    border-radius: 5px;
}
.block-tiles .tile:nth-child(even) .caption-white .caption-wrapper:before{
    background: none repeat scroll 0 0 #750124;
    content: "";
    height: 70%;
    left: 58%;
    position: absolute;
    top: 60%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    width: 70%;
    z-index: -1;
    border-radius: 5px;
}
.block-tiles .tile:nth-child(odd) .caption-white .caption-wrapper:before{
    background: none repeat scroll 0 0 #fff;
    content: "";
    height: 70%;
    left: -48%;
    position: absolute;
    top: 60%;
    -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
    -webkit-transform-origin: 0 0 0;
            transform-origin: 0 0 0;
    width: 70%;
    z-index: -1;
    border-radius: 5px;
}
.caption-white h3 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
}
.caption-white p {
    color: #000;
    font-weight: 500;
    font-size: 1.2em;
}
/* : Tables*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
    border-bottom: 1px solid #C3C3C3;
}
table.table tr td {
    color: #000;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
}
table.rt-responsive-table th {
    background: none;
    color: #000;
}
table.rt-responsive-table tr {
    background: none !important;
}
table.rt-responsive-table td, table.rt-responsive-table th {
    border-color: transparent;
}
/*Contact*/
.post-contact {
    position: relative;
    display: block;
}
.post-contact .col-left .form-group label {
    font-family: 'Titillium Web', sans-serif;
}
.post-contact .col-right h3 {
    font-family: 'Titillium Web', sans-serif;
}
.post-contact .col-right p {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
/* : Maps Plugin*/

.maps-content {
    min-height: 300px;
    background: #E5E3DF;
}
.additional {
    color: #000;
    position: relative;
    display: block;
}
.additional h2 {
    color: #000;
    font-weight: 500;
}
.additional p {
    color: #000;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 1.2em;
}
/* : Gallery*/
.gallery .col-heading {
    color: #fff;
    position: relative;
    display: block;
}
.gallery .col-heading h1 {
    text-transform: uppercase;
    display: block;
    font-size: 2em;
    color: #fff;
}
.gallery .col-heading p, .gallery .text-gallery p {
    display: block;
    color: #FFF;
}
/*:: Gallery Lightbox*/
.ekko-lightbox {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Titillium Web', sans-serif;
}
.ekko-lightbox .modal-title {
    font-family: 'Titillium Web', sans-serif;
}

.btn-black {
    background: #000;
    color: #fff;
    border: none;
    padding: 5px 25px;
}
.btn-white {
    color: #000;
    background: #fff;
    border: none;
}

.btn-oldgold{
    background: #CAA300;
    border: solid thin #CAA300;
}

/* : Dropdown*/
#col-vertical .dropdown h1{
    font-weight: 500;
}
#col-vertical .dropdown-menu{
    width: 300px;
    background: #FFF;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.176);
    left: 100%;
    top: -2px;
    -webkit-border-radius: 0;
            border-radius: 0;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    
}
#col-vertical .dropdown-menu .form-float{
    position: relative;
    display: block;
    float: left;
}
#col-vertical .dropdown-menu .form-float:before{
    content: " ";
    display: block;
    height: 0;
    left: 100%;
    margin-top: -50px;
    position: absolute;
    top: 21%;
    width: 0;
    z-index: 2;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*:: UX RESERVATION*/
/*Reservation*/

#uxwizard {
    position: relative;
    display: block;
}
#uxwizard .col-heading {
    position: relative;
    display: block;
    margin: 0;
}
#uxwizard .col-heading h1 {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
#uxwizard .wizard {
    border-radius: 0px;
    box-shadow: none;
    background: none;
    border: 1px solid transparent;
}
#uxwizard .wizard .step-content {
    border: none;
}
#uxwizard .wizard .form-control, #uxwizard .wizard .select2-container .select2-choice > .select2-chosen{
    font-size: 1em;
}
.fuelux .input-group-addon{
    background: #EEEEEE;
    border-left: none;
}
.step-content .col-left .col-block {
    display: block;
    position: relative;
    letter-spacing: normal;
}
.step-content .col-left .col-block a[data-toggle="collapse"] {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    display: block;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.step-content .col-left .col-block h3 {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
}
.step-content .col-left .col-block ul.list {
    padding: 0 20px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
}
.step-content .col-left .col-block ul.list li {
    color: #FFF;
}
.step-content .col-left .col-block ul.list li a {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
}
.step-content .col-left .col-block ul.list li .radio {
    margin-bottom: 5px;
}
.step-content .col-left .col-block .gpbx {
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.step-content .col-left .col-block .gpbx h3 {
    margin: 0;
}
.step-content .col-left .col-block .bx-info {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
}
.step-content .col-left .col-block .bx-info a {
    color: #fff;
}
.step-content .col-left .col-block .total-rateCL {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    border-top: 1px solid #fff;
}
.total-rateCL .price-txttotal {
    position: relative;
    display: block;
}
.total-rateCL .price-txttotal h5 {
    font-family: 'Titillium Web', sans-serif;
    color: #FFF;
    font-weight: 600;
    font-weight: 1.3em;
}
.total-rateCL .price-txttotal .info-ext {
    display: block;
    width: 100%;
}
.total-rateCL .price-txttotal .more-detail {
    position: relative;
    width: 100%;
    display: block;
}
.price-txttotal .more-detail a {
    color: #FFF;
}
.total-rateCL .price-total {
    position: absolute;
    right: 0;
}
.total-rateCL .price-total .price {
    font-size: 1.3em;
}
.step-content .col-right .action a.modify {
    text-align: right;
    color: #7A0027;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: underline;
    float: right;
}
.step-content .col-right .headingBBx {
    background: #232323;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.step-content .col-right .headingBBx h2 {
    color: #FFF;
    padding: 5px;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
}
.step-content .headingLt {
    background: #232323;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.group-inline .half-inline:first-child .headingBBx {
    border-radius: 5px 0px 0px 5px;
}
.group-inline .half-inline:last-child .headingBBx {
    border-radius: 0px 5px 5px 0px;
}
.step-content .headingLt h2 {
    color: #FFF;
    padding: 5px;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
}
.col-right .productlist {
    position: relative;
    display: block;
}
.col-right .productlist .HeaderInfo {
    font-family: 'Titillium Web', sans-serif;
}
.HeaderDesc .room-descLt {
    color: #000;
}
.HeaderInfo .Policies {
    margin-bottom: 10px;
}
.HeaderInfo .Policies a {
    color: #000;
}
.list-roomDTL {
    position: relative;
    display: block;
    font-family: 'Titillium Web', sans-serif;
}
.list-roomDTL ul.list {
    width: 100%;
}
.list-roomDTL ul.list .listed-room {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    border-bottom: 1px solid #979797;
    padding: 20px 0;
}
.listed-room .roomlistDescLt {
    position: relative;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    color: #000;
}
.roomlistDescLt .roomname {
    color: #000;
}
.roomlistDescLt .roomname h4 {
    font-size: 1em;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}
.roomlistDescLt .facilitiesLT {
    display: block;
    float: left;
    width: 100%;
}
.roomlistDescLt .facilitiesLT a.roomdescDTL {
    display: block;
    position: relative;
    color: #434a54;
}
.facilitiesLT .priceListRoom {
    float: left;
    width: 100%;
    display: block;
    position: relative;
}
.facilitiesLT .priceListRoom .price {
    float: left;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
}
.facilitiesLT .priceListRoom .taxLT {
    float: left;
    width: 100%;
}
.facilitiesLT .priceListRoom .more-detail {
    float: left;
    width: 100%;
    color: #434a54;
}
.roomlistDescLt .btn-abs {
    position: relative;
    display: block;
    text-align: right;
    float: right;
}
.roomlistDescLt .btn-abs a {
    color: #FFF;
}
.list-roomDTL ul.list .thumbroom {
    padding: 0;
}
.productlist .TxtTitle {
    font-size: 0.9em;
    font-family: 'Titillium Web', sans-serif;
}
.productlist .HeaderInfoContainer {
    border-bottom: 1px solid #979797;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
.step-content .col-left .book-desc {
    position: relative;
    display: block;
}
.step-content .col-left .book-desc span.text {
    float: left;
    line-height: 1.3em;
}
.step-content .price-range {
    display: block;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
}
.step-content .price-range .range-slider {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
#slider-range .ui-slider-range {
    background: #D00039 !important;
}
.step-content .price-range .range-slider input#amount {
    background: transparent;
    border: none !important;
    width: 100%;
    text-align: center;
}
.step-content .col-left .book-desc a.btn {
    float: right;
}
.arrival-departure {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.arrival-departure .arrival-wrapper, .arrival-departure .departure-wrapper {
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    font-family: 'Titillium Web', sans-serif;
}
.arrival-departure .top-cal {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.arrival-departure .top-cal .prev-in {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.arrival-departure .top-cal .next-in {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}
.arrival-departure .top-cal .prev-in {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.arrival-departure .mid-cal {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}
.arrival-departure .mid-cal .day {
    font-size: 4em;
    text-align: center;
}
/*Package List*/

.packageList {
    position: relative;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.packageList .titlePckg {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #878787;
}
.packageList .titlePckg .price-tag {
    font-family: 'Titillium Web', sans-serif;
}
.packageList .collapse {
    padding: 0;
}
.packageList p.pckgtext {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}
.packageList .list-chckbox {
    padding-left: 15px;
}
.packageList .titlePckg .price-tag .price {
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
}
.packageList .titlePckg a[data-toggle="collapse"] {
    font-weight: 600;
    color: #000;
}
/*Checkout */

.checkout-process {
    position: relative;
    display: block;
}
.checkout-process .col-right {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
}
.checkout-process .confirm-bx p {
    font-family: 'Titillium Web', sans-serif;
}
#uxwizard .wizard > .steps li:first-child {
    border-radius: 0;
    padding-left: 20px;
}
#uxwizard .currency-selector {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}
#uxwizard .wizard > .steps {
    width: auto;
    position: relative;
    display: block;
    float: left;
    margin: 0 !important;
}
#uxwizard .wizard > .steps li {
    background: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 0;
    color: #000;
}
#uxwizard .wizard > .steps li.active {
    color: #7D1030;
}
#uxwizard .wizard > .steps li span {
    color: #000;
}
#uxwizard .wizard > .actions {
    position: relative;
    display: block;
}
#uxwizard .bg-diff {
    color: #FFF;
}
/*Progress Bar */

.progress-holder {
    float: left;
    width: 100%;
    position: relative;
    display: block;
}
.progress {
    position: relative;
}
.progress.progress-mini {
    height: 9px;
}
.progress .progress-bar-maroon {
    background: #A0302E;
}
/*Booking Form*/

.datepicker-key {
    color: #000;
    font-size: 1em;
    margin: 30px 0 0 0;
}
.key-unavailable-icon {
    width: 10px;
    height: 10px;
    float: left;
}
.key-unavailable-text, .key-available-text, .key-selected-text, .key-noarrival-text {
    float: left;
    margin: 0 15px 0 5px;
    font-family: 'Titillium Web', sans-serif;
}
.key-unavailable-icon, .key-available-icon, .key-selected-icon, .key-noarrival-icon {
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 0 0 0;
}
.key-unavailable-wrapper, .key-available-wrapper, .key-selected-wrapper, .key-noarrival-wrapper {
    float: left;
}
/* Grey Background Elements */

.key-available-icon {
    background: #424242;
}
.key-unavailable-icon {
    background: #262427;
}
.key-selected-icon {
    background: #FB0751;
}
.key-noarrival-icon {
    background: #ADABAE;
}
.booking-side .select-wrapper {
    width: 276px;
}
.booking-side .one-third-form .select-wrapper {
    width: 100%;
}
.booking-side .one-third-form .select-wrapper select {
    width: 135%;
    background-position: 62% center;
}
.dark-notice {
    color: #fff;
    padding: 10px 15px;
    margin: 0 0 30px 0;
    text-align: center;
    background: #D80041;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.dark-notice p {
    margin: 0;
    color: #FFF;
}
.calendar-notice {
    display: none;
}
/*Confirmation*/

.creatAccount {
    display: block;
    position: relative;
}
.creatAccount .absolute-frm {
    position: absolute;
    width: 100%;
    display: none;
    top: 0;
    background: #FFFEFF;
    border: solid thin #B2B0B3;
    z-index: 9;
    padding: 5px 0;
    border-radius: 10px;
    left: -10px
}
/*Box Styling */

.box-rd {
    border-radius: 5px;
}
.t-gray {
    color: #434a54;
}
@media (min-width: 768px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: .25em;
        position: absolute
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.25)
    }
    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.0)
    }
    textarea::-webkit-scrollbar {
        width: 1em;
    }
    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
        border-right: none;
    }
    .bg .navbar-brand {
        border-right-color: transparent;
    }
    .navbar-form input {
        transition: width .3s ease-in-out 0s;
    }
    .navbar-form input:focus {
        width: 200px
    }
    .bg-black .navbar-form input {
        background-color: #102030;
        border-color: #314355;
        color: #8e9eae;
    }
    .bg-black .navbar-form input:focus {
        background-color: #fff;
        color: #222;
    }
    .nav-primary>ul>li>.dropdown-menu {
        margin-top: -1px;
        margin-left: 0
    }
    .nav-primary .dropdown-menu {
        background: #fff;
    }
    .nav-vertical>ul>li>a>i {
        display: block;
        font-size: 2em;
        margin: 6px auto
    }
    .nav-vertical>ul>li>a {
        text-align: left;
        border-bottom: none;
        font-size: 1.4em;
        padding-left: 40px;
        padding-right: 30px;
        text-transform: uppercase;
    }
    .nav-vertical.nav-icon>ul>li>a span {
        display: none
    }
    .nav-vertical.nav-icon>ul>li>a i {
        margin: 8px auto;
    }
    .nav-primary.nav-vertical>ul>li>a>.badge {
        position: absolute;
        top: 4px;
        right: 15px;
        font-size: 11px;
        padding: 3px 6px
    }
    #col-vertical {
        position: relative;
        width: 230px;
        position: absolute;
        z-index: 1000;
        left: 0;
        top: 0;
        bottom: 0;
        border: none;
        background-color: transparent;
        font-size: 11px;
        background: #FFF;
    }
    #col-vertical h1 {
        padding: 0;
        margin: 0;
        padding: 5px 20px;
    }
    #nav {
        display: block;
    }
    #nav a.navbar-brand .col-logo {
        position: relative;
        display: block;
    }
    #nav.bg-light {
        border-color: #bfc7d0
    }
    #nav.nav-vertical {
        width: 100%;
    }
    #main-content {
        padding-left: 0;
        position: relative;
    }
    #main-content .main {
        position: relative;
    }
    .nav-primary.nav-doc>ul>li>a {
        border-bottom: none;
        padding: 3px 20px;
        text-shadow: none;
    }
    .nav-primary .affix {
        top: 0;
        min-width: 149px
    }
    .nav-primary.nav-vertical .affix {
        top: 0;
        min-width: 89px
    }
    .navbar-fixed .nav-primary .nav {
        top: 50px
    }
    .content-sidebar {
        border-bottom: 1px solid #d1d4d7;
        display: table;
        width: 100%;
        border-spacing: 0;
        table-layout: fixed;
    }
    .content-sidebar .sidebar {
        border: 0 solid #d1d4d7;
        border-right-width: 1px;
    }
    .sidebar {
        width: 200px;
        display: table-cell;
        vertical-align: top
    }
    .sidebar-small {
        width: 160px
    }
    .sidebar-large {
        width: 300px
    }
    .main+.sidebar {
        border-right-width: 0;
        border-left-width: 1px
    }
    .modal {
        overflow-y: auto;
    }
    .modal-content {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    }
}
@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    
    img.bg-cover {
        left: 50%;
        margin-left: -512px
        /* 50% */
    }
}
/*  : Helper Margins - Paddings  */

.list {
    position: relative;
    display: block;
    float: left;
}

.m_t_0 {
    margin-top: 0
}
.m_r_0 {
    margin-right: 0
}
.m_b_0 {
    margin-bottom: 0
}
.m_l_0 {
    margin-left: 0
}
.m_t_5 {
    margin-top: 5px
}
.m_r_5 {
    margin-right: 5px
}
.m_b_5 {
    margin-bottom: 5px
}
.m_l_5 {
    margin-left: 5px
}
.m_t_10 {
    margin-top: 10px
}
.m_r_10 {
    margin-right: 10px
}
.m_b_10 {
    margin-bottom: 10px
}
.m_l_10 {
    margin-left: 10px
}
.m_t_15 {
    margin-top: 15px
}
.m_r_15 {
    margin-right: 15px
}
.m_b_15 {
    margin-bottom: 15px
}
.m_l_15 {
    margin-left: 15px
}
.m_t_20 {
    margin-top: 20px
}
.m_r_20 {
    margin-right: 20px
}
.m_b_20 {
    margin-bottom: 20px
}
.m_l_20 {
    margin-left: 20px
}
.p_t_5 {
    padding-top: 5px
}
.p_r_5 {
    padding-right: 5px
}
.p_b_5 {
    padding-bottom: 5px
}
.p_l_5 {
    padding-left: 5px
}
.p_t_10 {
    padding-top: 10px
}
.p_r_10 {
    padding-right: 10px
}
.p_b_10 {
    padding-bottom: 10px
}
.p_l_10 {
    padding-left: 10px
}
.p_t_15 {
    padding-top: 15px
}
.p_r_15 {
    padding-right: 15px
}
.p_b_15 {
    padding-bottom: 15px
}
.p_l_15 {
    padding-left: 15px
}
.p_t_20 {
    padding-top: 20px
}
.p_r_20 {
    padding-right: 20px
}
.p_b_20 {
    padding-bottom: 20px
}
.p_l_20 {
    padding-left: 20px
}
.p_rl_5 {
    padding-right: 5px;
    padding-left: 5px
}
.p_rl_10 {
    padding-right: 10px;
    padding-left: 10px
}
.p_rl_15 {
    padding-right: 15px;
    padding-left: 15px
}
.p_rl_20 {
    padding-right: 20px;
    padding-left: 20px
}
.m_rl_-5 {
    margin-right: -5px;
    margin-left: -5px
}
.m_rl_5 {
    margin-right: 5px;
    margin-left: 5px
}
.m_rl_10 {
    margin-right: 10px;
    margin-left: 10px
}
.m_rl_15 {
    margin-right: 15px;
    margin-left: 15px
}
.m_rl_20 {
    margin-right: 20px;
    margin-left: 20px
}
.p_tb_5 {
    padding-top: 5px;
    padding-bottom: 5px
}
.p_tb_10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.p_tb_15 {
    padding-top: 15px;
    padding-bottom: 15px
}
.p_tb_20 {
    padding-top: 20px;
    padding-bottom: 20px
}
.m_tb_5 {
    margin-top: 5px;
    margin-bottom: 5px
}
.m_tb_10 {
    margin-top: 10px;
    margin-bottom: 10px
}
.m_tb_15 {
    margin-top: 15px;
    margin-bottom: 15px
}
.m_tb_20 {
    margin-top: 20px;
    margin-bottom: 20px
}
.p_0 {
    padding: 0
}
.p_5 {
    padding: 5px
}
.p_10 {
    padding: 10px
}
.p_15 {
    padding: 15px
}
.p_20 {
    padding: 20px
}
.p_25 {
    padding: 25px
}
.p_30 {
    padding: 30px
}
